.first-page {
    background-color: #370617;
    width: 1152px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.container_one {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;

}

.container_two {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
}

.container_three {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

.container_four {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.down {
    align-self: flex-end;

}

.container_four,
.container_five,
.container_six,
.container_three,
.container_two,
.container_one {
    background-color: #F48C06;
    width: 468px;
    height: 160px;

}

.container_five {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.container_six {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.square-grow {
    flex-grow: 2;
}

.square,
.down,
.square-grow,
.square-text {
    width: 78px;
    height: 78px;
    background: #9D0208;
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.rectangle,
.rectangle-text {
    width: 76.5px;
    height: 120px;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.rectangle-text,
.square-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
}
.body{
    max-width:1152px;
    width: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.second_page {
    background-color: #F48C06;
    max-width: 1152px;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #748CAB;
    margin-left: 20px;
    margin-bottom: 10px;
}

.container_seven,
.container_eight,
.container_nine,
.container_ten,
.container_eleven {
    width: 273px;
    height: 220px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding:20px 20px;
}

.container_seven {
    display: flex;
    flex-wrap: wrap;
    background-color: #03071E;
    justify-content: flex-start;
}

.container_eight {
    background-color: #6A040F;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: right;
}

.container_nine {
    background-color: #03071E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

.container_ten {
    background-color: #6A040F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.container_eleven {
    background-color: #03071E;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}